/* ul,ol,li {
	list-style: none;
	padding-left: 0px;
} */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.authorImg img {
  border: 5px solid #b6b9f2;
  border-radius: 50%;
}
.desc {
}
.authorName {
}
.authorSummary {
}
.socialLinks,
.socialItem {
  list-style: none;
  padding-left: 0px;
}
.socialLinks {
  display: flex;
  gap: 10px;
}
.socialItem {
}
